*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 14px;
    font-family: 'PlayfairDisplay', sans-serif;
    color: #707070;
}
@font-face {
    font-family: 'ClickerScript';
    src: url(шрифты/ClickerScript-Regular.ttf);
}
@font-face {
    font-family: 'PlayfairDisplay';
    src: url(шрифты/PlayfairDisplay-VariableFont_wght.ttf);
}
h3{font-size: 2.5rem;}
h1{
    font-size: 20rem;
    font-family: 'ClickerScript', sans-serif;
    font-weight: normal;
}
h2{font-size: 3.9rem;}
.p1{font-size: 1.3rem;}
.p2{font-size: 1.45rem;}
.p3{font-size: 1.6rem;}
.p4{font-size: 1.9rem; font-weight: bold;}
nav button{font-size: 1rem;} 
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: #603809;
}
header{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    width: 85%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h3{font-family: 'ClickerScript', sans-serif;
    font-weight: normal;
}
ul{
    width: 30%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
nav div{
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav div a{
    text-decoration: underline;
}
button{
    height: 48px;
    width: 134px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    background-color: #F9C06A;
    box-shadow: 0 5px 10px #F9C06A;
    font-size: 1.15rem;
    font-family: 'PlayfairDisplay', sans-serif;
}
nav button{
    width: 100px;
    font-size: 1rem;
}
.section1{
    width: 100vw;
    height: 100vh;
    background-image: url(картинки/coffee_image.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.s1{
    width: 90%;
    height: 85%;
    display: flex;
    align-items: center;
}
.s1_cont{
    width: 36%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.s1_cont .p2{width: 85%;}
.section2{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.section2 .coffee_blast{
    position: absolute;
    top: 1750px;
    left: 0;
}
.s2_cont{
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.s2_l{
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section2 h2{color:#603809;}
.s2_l button{width: 134px;}
.cup {
    width: 40%;
    height: 75%;
}
.cup img{width: 100%; height: 100%;}
.section3{
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.cards{
    display: flex;
    width: 85%;
    height: 60%;
    justify-content: space-around;
}
.card{
    width: 17.2%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF9F1;
    border:  1px solid #F9C06A6B;
}
.card button{
    position: relative;
    top: 24px;
}
.card div{
    margin-top: 24px;
    height: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.p16{font-size: 1.15rem;}
.card .p3, .card .p1{color: #603809; font-weight: bold;} 
.section3 h2, .section4 h2, .section4 h3{color: #603809;}
.section3 img{
    width: 100%;
    height: 57.3%;
}
.section4{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.section4 .cards{height: 50%; align-items: center;}
.alo{
    position: absolute;
    top: 2650px;
    right: 0;
    left: auto;
    transform: scaleX(-1);
}
.section4 .card{
    justify-content: space-evenly;
    text-align: center;
    height: 70%;
}
.section4 .card div{
    margin: 0;
    width: 80%;
}
.section4 .card:first-child{
    background-color: #F9C06A6B;
}
.niz{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section5{
    width: 100vw;
    height: 70vh;
    display: flex;justify-content: flex-end;
    gap: 250px;
    align-items: center;
    background: linear-gradient(rgba(96, 56, 9, 0.8)), url(картинки/fon2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.s5L{
    width: 35%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}
.s5L p{
    width: 70%;
    line-height: 2;
}
.s5R{
    height: 100%;
    width: 36.5%;
    background-image: url(картинки/coffee_bean.png);
     background-repeat: no-repeat;
     background-size: contain;
     display: flex;
     justify-content: center;
     align-items: center;
}
.s5R img{
    width: 55%;
    height: auto;
}
.section6{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.blast, .blast1{
    width: 26%;
    height: 26%;
}
.blast{
    position: absolute;
    transform: scaleY(-1);
    top: 5000px;
    left: 0;
}
.blast1{
    position: absolute;
    top: 4550px;
    right: 0;
    left: auto;
    transform: scaleX(-1);
}
.section6 h2, .section6 h1, .section6 h3{color: #603809; font-weight: bold;}
.section6 h1{
    font-family: 'PlayfairDisplay', sans-serif;
    width: 15%;
    height: 30%;
}
.conttt6 p{color: black;}
.section6 h1{align-self: flex-start;}
.s6_da{
    width: 80%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s6_da .conttt6{
    width: 90%;
    height: 100%;
    background-color: #FFF9F1;
    border:  1px solid #F9C06A6B;
    display: flex;
    align-items: center;
    justify-content: center;
}
.conttt6 .c6{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
}
.c6 div{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.conttt6 img{
    position: relative;
    top: 10px;
}
.p1{
    width: 90%;
    text-align: center;
    line-height: 2;
}
.section6 button{
    height: 86px;
    width: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b1{
    position: relative;
    left: 40px;
}
.b2{
    position: relative;
    right: 40px;
}
.section7{
    background: linear-gradient(rgba(96, 56, 9, 0.8)), url(картинки/fon2.png);
    width: 100vw;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cup1, .cup2{
    width: 20%;
    height: 45%;

}
 .cup1{
    position: absolute;
    top: 5600px;
    right: 0;
    left: auto;
    transform: scaleX(-1);
}
.cup2{
    position: absolute;
    top: 5600px;
    left: 0;
}
.s7_cont{
    color: white;
    width: 70%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.s7_cont div{
    padding-left: 2%;
    width: 50%;
    height: 17%;
    background-color: #FFF9F1;
    color: #707070;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.s7_cont div button{
    height: 100%;
    border-radius: 5px;
    color: #603809;
}
footer{
    color: white;
    background: linear-gradient(rgba(96, 56, 9, 0.9)), url(картинки/fotter_image.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.end{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.end a, .end li{font-size: 1.3rem;}
.ft, .ftr_s, .fn{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.ft{
    width: 30%;
    line-height: 2;
}
.ft h2{font-family: 'ClickerScript', sans-serif;font-weight: normal;}
.ft div{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.end ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    line-height: 2;
}
.ftr_s{ width: 20%;}
.fn{ width: 30%; }
@media (min-width:1440px) and (max-width:1740px)
{
    html{
        font-size: 11px;
    }
nav div{
    width: 15%;
}
.cup {
    width: 45%;
    height: 75%;
}
.cards{height: 45%;}
.s5R {
    width: 40%;
    background-size: cover;
}
.s5R img{width: 63%;}
}
