*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 14px;
    font-family: 'PlayfairDisplay', sans-serif;
}
@font-face {
    font-family: 'ClickerScript';
    src: url(шрифты/ClickerScript-Regular.ttf);
}
@font-face {
    font-family: 'PlayfairDisplay';
    src: url(шрифты/PlayfairDisplay-VariableFont_wght.ttf);
}
h3{font-size: 2.5rem;}
h1{
    font-size: 20rem;
    font-family: 'ClickerScript', sans-serif;
    font-weight: normal;
}
h2{font-size: 3.9rem;}
.p1{font-size: 1.3rem;}
.p2{font-size: 1.45rem;}
.p3{font-size: 1.6rem;}
nav button{font-size: 1rem;} 
a{
    text-decoration: none;
    color: white;
}
header{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    width: 85%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h3{font-family: 'ClickerScript', sans-serif;
    font-weight: normal;
}
ul{
    width: 30%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
nav div{
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    height: 48px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    background-color: #F9C06A;
    box-shadow: 0 5px 10px #F9C06A;
    font-size: 1.15rem;
}
nav button{
    width: 100px;
    font-size: 1rem;
}
.section1{
    width: 100vw;
    height: 100vh;
    background-image: url(картинки/coffee_image.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.s1_cont button{width: 134px;}
.s1{
    width: 90%;
    height: 85%;
    display: flex;
    align-items: center;
}
.s1_cont{
    width: 36%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.s1_cont .p2{width: 85%;}
.section2{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section2 .coffee_blast{
    position: absolute;
    top: 1750px;
    right: 1550px;
}
.s2_cont{
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.s2_l{
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section2 h2{color:#603809;}
.s2_l button{width: 134px;}
.cup {
    width: 40%;
    height: 75%;
}
.cup img{width: 100%; height: 100%;}
.section3{
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.cards{
    display: flex;
    width: 85%;
    height: 60%;
    justify-content: space-around;
}
.card{
    width: 17.2%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF9F1;
    border:  1px solid #F9C06A6B;
}
.card button{
    width: 134px;
    position: relative;
    top: 24px;
}
.card div{
    margin-top: 24px;
    height: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.p16{font-size: 1.15rem;}
.card .p3, .card .p1{color: #603809;} 
.section3 h2{color: #603809;}
.section3 img{
    width: 100%;
    height: 57.3%;
}
